<!DOCTYPE html>
<html>
<head>
<script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
</head>

<body>

<h3>PyChat</h3>

<div id="friends"></div>

<div id="chat" style="height:300px;overflow:auto;border:1px solid"></div>

<input id="to" placeholder="chat với ai">
<input id="msg">
<input type="file" id="img">
<button onclick="send()">Send</button>

<script>
let socket = io();
let me = "{{user}}";
let current = "";

fetch('/friends').then(r=>r.json()).then(data=>{
friends.innerHTML = data.map(f=>`<div onclick="openChat('${f}')">${f}</div>`).join("");
});

function openChat(user){
current = user;
socket.emit("join",{u1:me,u2:user});

fetch('/messages/'+user).then(r=>r.json()).then(data=>{
chat.innerHTML="";
data.forEach(add);
});
}

socket.on("msg", add);

function add(d){
let div = document.createElement("div");
div.innerHTML = `<b>${d.user}</b>: ${d.text||""}`;
if(d.image){
div.innerHTML += `<br><img src="${d.image}" width=100>`;
}
chat.appendChild(div);
}

function send(){
let file = img.files[0];

if(file){
let form = new FormData();
form.append("file", file);

fetch('/upload',{method:'POST',body:form})
.then(r=>r.text())
.then(url=>{
socket.emit("send",{to:current,text:msg.value,image:url});
});
}else{
socket.emit("send",{to:current,text:msg.value});
}
}

Notification.requestPermission();

socket.on("msg", d=>{
if(document.hidden){
new Notification("Tin mới",{body:d.user+": "+d.text});
}
});
</script>

</body>
</html>
